{% extends 'base.html' %}

{% block head %}
<title>MultIA</title>
<h1>MultIA</h1>
{% endblock %}

{% block body %}
<div class="content">
    <h1>conversation</h1>

    <table>
        <tr>
            <th>MultIA</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
        
        {% for message in messages %}
            {% if message['role']=='user' %}
                <tr>
                    <td>  </td>
                    <td>{{ message['content'] }}</td>
                    <td>
                        <a href="/delete/{{loop.index}}">Delete</a>
                        <a href="/update/{{loop.index}}">Edit</a>
                    </td>
                </tr>

            {% else %}
                <tr>
                    <td>{{ message['content'] }}</td>
                    <td>  </td>
                    <td>
                        <a href="/delete/{{loop.index}}">Delete</a>
                        <a href="/update/{{loop.index}}">Edit</a>
                    </td>
                </tr>

            {% endif %}
        {% endfor %}

    </table>

    <form action="/" method="POST">
        <textarea name="text" id="text"></textarea>
        <input type="submit" value="send">



    </form>
</div>
{% endblock %}